<div class="side-bar_header">

  <div class="user-name_link">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>

  <div class="room-create_link">
    <%= link_to 'チャットルームを作成する', new_room_path %>
  </div>

</div>

<div class="side-bar_rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>